.left {
  text-align: left;
  align-self: center;
  min-width: 035%;
}
.right {
  text-align: end;
  align-self: center;
  width: 55%;
}

p {
  font-size: 1.8vh;
}

img {
  align-self: center;
  height: 3vh;
}

h3 {
  overflow: hidden;
  text-wrap: none;
}
