$primary-color: #0064e0;
$secondary-color: #007af5;
$background-color: #f7fbff;
$positive-color: #4cb944;
$negative-color: #dc3039;
$gray-color: #7c7c7c;
$deep-gray-color: #757575;
$light-gray-color: #eae9ee;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  min-height: 90vh;
  background-color: $background-color;
  padding-bottom: 80px; /* 푸터 높이보다 조금 더 큰 값 */
}

h1 {
  font-size: 2.8vh;
  font-weight: bold;
}

h2 {
  font-size: 2.4vh;
  font-weight: bold;
}

h3 {
  font-size: 2.2vh;
  font-weight: bold;
}

p {
  font-size: 2vh;
  color: $gray-color;
}
